.jobCard {
  background: white;
  color: $magenta;
  border-radius: 5px;
  margin-bottom: $m-size;
  padding: $l-size;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.jobCard h3 {
  margin: 0;
  font-size: 1.85rem;
  font-weight: 400;
}

.jobCard h4 {
  margin: $s-size 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.jobCard div {
  padding-left: $m-size;
}

.jobCard span {
  font-size: 1rem;
  margin: 0 0.5rem 0 0.1rem;
}

.jobCard ul {
  padding-left: $l-size;
}

.jobCard li {
  font-size: 1rem;
  margin: $m-size 0;
  padding-left: $s-size;
  list-style-type: "-";
}
