.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom left, $purple, rgba($darkPink, 0.7)),
    url("./../../../images/bg-pattern.png");

  color: $white;

  @include over-medium-breakpoint {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    padding: 10rem;
    flex-direction: row;
  }
}

.container h1 {
  border-bottom: 2px solid $greyBlue;
}

.experience {
  @include over-medium-breakpoint {
    margin-right: 3rem;
    min-width: 30rem;
  }
  flex-grow: 2;
}

@include under-medium-breakpoint {
  .experience ul {
    padding: 0;
  }

  .experience li {
    margin: 1rem;
  }
}

.skills {
  min-width: 20rem;
}

.skills-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 10px;
  row-gap: 1em;
}
