button {
  background: transparent;
  padding: 0;
  border: none;
}

button:focus {
  outline: transparent;
}

.section {
  display: flex;
  justify-content: center;
  @include under-medium-breakpoint {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
}

.limit-width-30 {
  max-width: 30rem;
}

.center {
  text-align: center;
}
