.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  @include over-medium-breakpoint {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
  }
}

.reverse-row {
  @include over-medium-breakpoint {
    flex-direction: row-reverse;
  }
}

.container h3 {
  margin: 0;
}

.image {
  flex-grow: 1;
}

.content {
  flex: 0 1 50%;
  line-height: 1.5rem;
  @include under-medium-breakpoint {
    margin-top: 1rem;
  }
}

@include over-medium-breakpoint {
  .image,
  .content {
    margin: 0 1rem;
  }
}
