.burger,
.burger-is-active {
  position: fixed;
  z-index: 3;

  @include over-medium-breakpoint {
    display: none;
  }
}

.burger svg {
  position: absolute;
}

.triangle {
  fill: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.inner,
.inner:before,
.inner:after {
  width: 40px;
  height: 2px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  left: 0.5rem;
  top: 1.25rem;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  z-index: 3;
}

.inner:before,
.inner:after {
  display: block;
  left: 0rem;
  content: "";
}

.inner:before {
  width: 30px;
  top: 0.5rem;
}

.inner:after {
  width: 25px;
  top: 1rem;
}

.inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.inner::before,
.inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.burger-is-active .inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}
.burger-is-active .inner::before {
  transform: translate3d(10px, 0, 0) rotate(45deg);
}
.burger-is-active .inner::after {
  width: 30px;
  transform: translate3d(10px, -8px, 0) rotate(-45deg);
}

@include over-medium-breakpoint {
  .burger {
    display: none;
  }
}
